/* Estilos para el contenedor que centra el contenido */
.centrado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    height: 75vh;
}

.centrado > section {
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho */
}

.centrado > section:first-child {
    width: 63%; /* Ocupa el 50% del contenedor */
}

.centrado > section:last-child {
    width: 32%; /* Ocupa el 40% del contenedor */
    border: 0.5px solid var(--color-texto);
}

/* Estilos para el contenedor de la imagen y el texto */
.perfil-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/* Estilos para el contenedor de la imagen */
.perfil-container {
    width: 65%;
    overflow: hidden;
    margin-bottom: 0.5rem;
}


/* Estilos para la imagen */
.perfil-img {
    width: 100%;
    /* Ajustar la imagen al ancho del contenedor */
    height: auto;
}

/* Estilos para el texto */
h1,
p {
    margin: 0;
    padding: 0;
    /* Eliminar márgenes por defecto */
}

@media (max-width: 650px) {

    #bodyHome{
        overflow-y: auto;
    }

    .centrado{
        flex-direction: column-reverse;
        height: 125vh;
        justify-content: space-evenly;
    }
    .centrado > section:first-child {
        width: 90%;
    }
    
    .centrado > section:last-child {
        width: 60%;
    }
}